In [1]:
from pymongo import MongoClient
import pandas as pd
import os
from dotenv import load_dotenv
from urllib.parse import quote_plus
import urllib.parse
# Load environment variables from .env file
load_dotenv()

True

In [2]:
# Get MongoDB connection details from environment variables
username = os.getenv("MONGODB_USERNAME")
password = os.getenv("MONGODB_PASSWORD")
cluster = os.getenv("MONGODB_CLUSTER")
database = os.getenv("MONGODB_DATABASE")
escaped_username = urllib.parse.quote_plus(username)
escaped_password = urllib.parse.quote_plus(password)

In [3]:
# Import necessary libraries
import pandas as pd
from pymongo import MongoClient, errors # Import errors for specific exception handling
import os # Optional: Good practice for handling paths

# --- Configuration ---
# 1. MongoDB Connection Details (Replace with your actual details)
#    Get this from MongoDB Atlas (Connect -> Drivers) or your local setup
#    Example format: "mongodb+srv://<username>:<password>@your_cluster_address/?retryWrites=true&w=majority"
MONGO_CONNECTION_STRING = "mongodb+srv://retail:retail123@retailcluster.0mqnqed.mongodb.net/"
DATABASE_NAME = "detaildb"  # Replace with your database name (e.g., "retail_db")
COLLECTION_NAME = "retail_app_data" # Replace with your collection name (e.g., "sales_data")

# 2. CSV File Path (Corrected Formatting)
#    Using a raw string (r"...") is recommended on Windows to handle backslashes correctly.
csv_file_path = r"D:\DATA AND AI\ML WORKSHOP\Session 2 Data Processing-20250316T042803Z-001\Session 2 Data Processing\Data and code\retail_app_data.csv"
#    Alternatively, you could use forward slashes "/":
# csv_file_path = "D:/DATA AND AI/ML WORKSHOP/Session 2 Data Processing-20250316T042803Z-001/Session 2 Data Processing/Data and code/retail_app_data.csv"


# --- Main Script Logic ---
client = None # Initialize client to None to ensure it can be used in the finally block
try:
    # --- Establish MongoDB Connection ---
    print(f"Attempting to connect to MongoDB...")
    # Set a server selection timeout to handle connection errors faster (e.g., 5 seconds)
    client = MongoClient(MONGO_CONNECTION_STRING, serverSelectionTimeoutMS=5000)

    # The ismaster command is cheap and does not require auth. It forces a connection check.
    client.admin.command('ismaster')
    print("MongoDB connection successful!")

    # Select the database
    db = client[DATABASE_NAME]
    print(f"Selected database: '{DATABASE_NAME}'")

    # Select the collection
    collection = db[COLLECTION_NAME]
    print(f"Selected collection: '{COLLECTION_NAME}'")

    # --- Read CSV File ---
    print(f"Reading CSV file from: {csv_file_path}")
    # Check if the file exists before attempting to read
    if not os.path.exists(csv_file_path):
        raise FileNotFoundError(f"Error: CSV file not found at the specified path: {csv_file_path}")

    df = pd.read_csv(csv_file_path)
    print(f"Successfully read {len(df)} rows from the CSV file.")

    # --- Prepare Data for MongoDB ---
    # Convert DataFrame to a list of dictionaries (each dictionary is a MongoDB document)
    # Ensure CSV column names are valid for MongoDB keys (e.g., no '.' or '$' at the start)
    if df.empty:
        print("CSV file is empty. No records to insert.")
        records = []
    else:
        # Handle potential NaN values which are not directly supported by BSON/MongoDB
        # Replace pandas NaN with None, which MongoDB handles correctly
        df_filled = df.fillna(value=float('nan')).replace({float('nan'): None})
        records = df_filled.to_dict("records")
        print(f"Converted DataFrame to {len(records)} records (NaN values replaced with None).")

    # --- Insert Data into MongoDB ---
    if records: # Only proceed if there are records to insert
        print(f"Inserting {len(records)} records into MongoDB collection '{COLLECTION_NAME}'...")
        # insert_many inserts multiple documents from the list
        result = collection.insert_many(records)
        print(f"Successfully inserted {len(result.inserted_ids)} documents.")

        # --- Verify Insertion Count ---
        # Count total documents in the collection after insertion
        total_docs = collection.count_documents({})
        print(f"Collection '{COLLECTION_NAME}' now contains {total_docs} documents.")
    else:
        print("Skipping insertion as there are no records.")

# --- Error Handling ---
except FileNotFoundError as fnf_error:
    # Handle the specific case where the CSV file isn't found
    print(f"File Error: {fnf_error}")
except errors.ConfigurationError as config_error:
    # Handle errors related to MongoDB connection string format or options
     print(f"MongoDB Configuration Error: {config_error}")
except errors.ConnectionFailure as conn_error:
    # Handle errors failing to connect to MongoDB server
    print(f"MongoDB Connection Error: Could not connect to the server. Check connection string, network access, and server status. Details: {conn_error}")
except Exception as e:
    # Catch any other unexpected errors during the process
    print(f"An unexpected error occurred: {e}")
    # Consider logging the full traceback here for debugging complex issues
    # import traceback
    # print(traceback.format_exc())
finally:
    # Ensure the MongoDB connection is closed even if errors occurred
    if client:
        print("Closing MongoDB connection.")
        client.close()

Attempting to connect to MongoDB...
MongoDB connection successful!
Selected database: 'detaildb'
Selected collection: 'retail_app_data'
Reading CSV file from: D:\DATA AND AI\ML WORKSHOP\Session 2 Data Processing-20250316T042803Z-001\Session 2 Data Processing\Data and code\retail_app_data.csv
Successfully read 10000 rows from the CSV file.
Converted DataFrame to 10000 records (NaN values replaced with None).
Inserting 10000 records into MongoDB collection 'retail_app_data'...
Successfully inserted 10000 documents.
Collection 'retail_app_data' now contains 140000 documents.
Closing MongoDB connection.

In [4]:
df.head()

,user_id,first_visit_date,age,platform,screen_list,session_count,total_screens_viewed,used_search_feature,wrote_review,added_to_wishlist,made_purchase,purchase_date,user_segment,region,acquisition_channel,app_version
0,100000,2023-09-19,66,Android,"CategoryBrowse,Search,WishList,ReturnPolicy,Pr...",5,10,1,1,0,1,2023-09-19 01:00:00,Senior Buyer,Europe,Referral,2.0.8
1,100001,2023-04-29,68,iOS,"OrderTracking,Promotions,Notifications,Product...",8,39,0,0,0,0,NaN,Senior Browser,Latin America,Organic Search,2.0.5
2,100002,2023-10-20,25,iOS,"ShoppingCart,WishList,ProductList,PaymentMetho...",9,19,1,0,1,0,NaN,Adult Browser,Europe,Social Media,2.0.6
3,100003,2023-07-04,39,Android,"Checkout,ColorPicker,OrderTracking,WishList,Or...",8,47,0,0,0,0,NaN,Adult Browser,Asia Pacific,Social Media,2.2.1
4,100004,2023-01-02,28,iOS,"ColorPicker,ShoppingCart,Reviews,Account,Categ...",9,29,0,1,1,0,NaN,Adult Browser,Latin America,Paid Search,2.2.8

In [5]:
# Import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [6]:
df.info()
df_processed = df.copy()    
df_processed.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               10000 non-null  int64
 1   first_visit_date      10000 non-null  object
 2   age                   10000 non-null  int64
 3   platform              10000 non-null  object
 4   screen_list           10000 non-null  object
 5   session_count         10000 non-null  int64
 6   total_screens_viewed  10000 non-null  int64
 7   used_search_feature   10000 non-null  int64
 8   wrote_review          10000 non-null  int64
 9   added_to_wishlist     10000 non-null  int64
 10  made_purchase         10000 non-null  int64
 11  purchase_date         5289 non-null   object
 12  user_segment          10000 non-null  object
 13  region                10000 non-null  object
 14  acquisition_channel   10000 non-null  object
 15  app_version           10000 non-null  object
dtypes: int64(8), object(8)
memory usage: 1.2+ MB

,user_id,first_visit_date,age,platform,screen_list,session_count,total_screens_viewed,used_search_feature,wrote_review,added_to_wishlist,made_purchase,purchase_date,user_segment,region,acquisition_channel,app_version
0,100000,2023-09-19,66,Android,"CategoryBrowse,Search,WishList,ReturnPolicy,Pr...",5,10,1,1,0,1,2023-09-19 01:00:00,Senior Buyer,Europe,Referral,2.0.8
1,100001,2023-04-29,68,iOS,"OrderTracking,Promotions,Notifications,Product...",8,39,0,0,0,0,NaN,Senior Browser,Latin America,Organic Search,2.0.5
2,100002,2023-10-20,25,iOS,"ShoppingCart,WishList,ProductList,PaymentMetho...",9,19,1,0,1,0,NaN,Adult Browser,Europe,Social Media,2.0.6
3,100003,2023-07-04,39,Android,"Checkout,ColorPicker,OrderTracking,WishList,Or...",8,47,0,0,0,0,NaN,Adult Browser,Asia Pacific,Social Media,2.2.1
4,100004,2023-01-02,28,iOS,"ColorPicker,ShoppingCart,Reviews,Account,Categ...",9,29,0,1,1,0,NaN,Adult Browser,Latin America,Paid Search,2.2.8

In [7]:
# 2. Time-based Processing
# Convert datetime columns
df_processed['first_visit_date'] = pd.to_datetime(df_processed['first_visit_date'])
df_processed['purchase_date'] = pd.to_datetime(df_processed['purchase_date'])

# Calculate time difference and create target
df_processed['time_to_purchase'] = (df_processed['purchase_date'] - 
                                  df_processed['first_visit_date']).dt.total_seconds() / 3600

# Create 24-hour purchase target
df_processed['purchase_24h'] = np.where(df_processed['time_to_purchase'] <= 24, 1, 0)

# Extract time features
df_processed['hour'] = df_processed['first_visit_date'].dt.hour
df_processed['dayofweek'] = df_processed['first_visit_date'].dt.dayofweek
df_processed['is_weekend'] = df_processed['dayofweek'].isin([5,6]).astype(int)

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

In [9]:
df_processed.head()

   user_id first_visit_date  age platform                                        screen_list  session_count  total_screens_viewed  used_search_feature  wrote_review  added_to_wishlist  made_purchase       purchase_date    user_segment         region acquisition_channel app_version  time_to_purchase  purchase_24h  hour  dayofweek  is_weekend
0   100000       2023-09-19   66  Android  CategoryBrowse,Search,WishList,ReturnPolicy,Pr...              5                    10                    1             1                  0              1 2023-09-19 01:00:00    Senior Buyer         Europe            Referral       2.0.8               1.0             1     0          1           0
1   100001       2023-04-29   68      iOS  OrderTracking,Promotions,Notifications,Product...              8                    39                    0             0                  0              0                 NaT  Senior Browser  Latin America      Organic Search       2.0.5               NaN             0     0          5           1
2   100002       2023-10-20   25      iOS  ShoppingCart,WishList,ProductList,PaymentMetho...              9                    19                    1             0                  1              0                 NaT   Adult Browser         Europe        Social Media       2.0.6               NaN             0     0          4           0
3   100003       2023-07-04   39  Android  Checkout,ColorPicker,OrderTracking,WishList,Or...              8                    47                    0             0                  0              0                 NaT   Adult Browser   Asia Pacific        Social Media       2.2.1               NaN             0     0          1           0
4   100004       2023-01-02   28      iOS  ColorPicker,ShoppingCart,Reviews,Account,Categ...              9                    29                    0             1                  1              0                 NaT   Adult Browser  Latin America         Paid Search       2.2.8               NaN             0     0          0           0

In [10]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               10000 non-null  int64
 1   first_visit_date      10000 non-null  datetime64[ns]
 2   age                   10000 non-null  int64
 3   platform              10000 non-null  object
 4   screen_list           10000 non-null  object
 5   session_count         10000 non-null  int64
 6   total_screens_viewed  10000 non-null  int64
 7   used_search_feature   10000 non-null  int64
 8   wrote_review          10000 non-null  int64
 9   added_to_wishlist     10000 non-null  int64
 10  made_purchase         10000 non-null  int64
 11  purchase_date         5289 non-null   datetime64[ns]
 12  user_segment          10000 non-null  object
 13  region                10000 non-null  object
 14  acquisition_channel   10000 non-null  object
 15  app_version           10000 non-null  object
 16  time_to_purchase      5289 non-null   float64
 17  purchase_24h          10000 non-null  int32
 18  hour                  10000 non-null  int32
 19  dayofweek             10000 non-null  int32
 20  is_weekend            10000 non-null  int32
dtypes: datetime64[ns](2), float64(1), int32(4), int64(8), object(6)
memory usage: 1.4+ MB

In [11]:
# 3. Screen List Processing
# Add comma for consistent processing
df_processed['screen_list'] = df_processed['screen_list'].astype(str) + ','

# Define screen categories
shopping_screens = ['ProductList', 'ProductDetail', 'CategoryBrowse', 'Search']
cart_screens = ['ShoppingCart', 'Checkout', 'PaymentMethods', 'DeliveryOptions']
engagement_screens = ['WishList', 'Reviews', 'Promotions']
account_screens = ['Account', 'AddressBook', 'OrderTracking']

# Create binary indicators for each screen
for screen in (shopping_screens + cart_screens + engagement_screens + account_screens):
    df_processed[screen.lower()] = df_processed['screen_list'].str.contains(screen).astype(int)

# Create count features for each category
df_processed['shopping_count'] = df_processed[[s.lower() for s in shopping_screens]].sum(axis=1)
df_processed['cart_count'] = df_processed[[s.lower() for s in cart_screens]].sum(axis=1)
df_processed['engagement_count'] = df_processed[[s.lower() for s in engagement_screens]].sum(axis=1)
df_processed['account_count'] = df_processed[[s.lower() for s in account_screens]].sum(axis=1)

# Create Other category
all_tracked_screens = shopping_screens + cart_screens + engagement_screens + account_screens
df_processed['other_screens'] = df_processed['screen_list'].apply(
    lambda x: len([s for s in x.split(',') if s and s not in all_tracked_screens])
)

In [12]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200000)
df_processed

      user_id first_visit_date  age platform                                        screen_list  session_count  total_screens_viewed  used_search_feature  wrote_review  added_to_wishlist  made_purchase       purchase_date    user_segment         region acquisition_channel app_version  time_to_purchase  purchase_24h  hour  dayofweek  is_weekend  productlist  productdetail  categorybrowse  search  shoppingcart  checkout  paymentmethods  deliveryoptions  wishlist  reviews  promotions  account  addressbook  ordertracking  shopping_count  cart_count  engagement_count  account_count  other_screens
0      100000       2023-09-19   66  Android  CategoryBrowse,Search,WishList,ReturnPolicy,Pr...              5                    10                    1             1                  0              1 2023-09-19 01:00:00    Senior Buyer         Europe            Referral       2.0.8               1.0             1     0          1           0            0              1               1       1             0         0               0                0         1        0           0        1            0              0               3           0                 1              1              1
1      100001       2023-04-29   68      iOS  OrderTracking,Promotions,Notifications,Product...              8                    39                    0             0                  0              0                 NaT  Senior Browser  Latin America      Organic Search       2.0.5               NaN             0     0          5           1            1              1               0       1             0         1               1                1         0        0           1        0            0              1               3           3                 1              1              2
2      100002       2023-10-20   25      iOS  ShoppingCart,WishList,ProductList,PaymentMetho...              9                    19                    1             0                  1              0                 NaT   Adult Browser         Europe        Social Media       2.0.6               NaN             0     0          4           0            1              0               0       0             1         1               1                1         1        1           0        0            1              0               1           4                 2              1              1
3      100003       2023-07-04   39  Android  Checkout,ColorPicker,OrderTracking,WishList,Or...              8                    47                    0             0                  0              0                 NaT   Adult Browser   Asia Pacific        Social Media       2.2.1               NaN             0     0          1           0            1              0               0       0             0         1               0                0         1        0           1        1            0              1               1           1                 2              2              3
4      100004       2023-01-02   28      iOS  ColorPicker,ShoppingCart,Reviews,Account,Categ...              9                    29                    0             1                  1              0                 NaT   Adult Browser  Latin America         Paid Search       2.2.8               NaN             0     0          0           0            1              0               1       0             1         1               0                0         0        1           0        1            0              1               2           2                 1              2              3
...       ...              ...  ...      ...                                                ...            ...                   ...                  ...           ...                ...            ...                 ...             ...            ...                 ...         ...               ...           ...   ...        ...         ...          ...            ...             ...     ...           ...       ...             ...              ...       ...      ...         ...      ...          ...            ...             ...         ...               ...            ...            ...
9995   109995       2023-12-04   51      iOS  DeliveryOptions,Notifications,ProductDetail,Co...              9                    22                    1             1                  0              0                 NaT  Senior Browser  North America         Paid Search       2.2.9               NaN             0     0          0           0            0              1               0       0             0         0               0                1         0        0           0        0            0              0               1           1                 0              0              2
9996   109996       2023-05-01   28  Android        Reviews,Search,SizeGuide,SizeGuide,Account,              2                    11                    1             1                  1              1 2023-05-01 17:00:00     Adult Buyer  Latin America      Organic Search       2.1.1              17.0             1     0          0           0            0              0               0       1             0         0               0                0         0        1           0        1            0              0               1           0                 1              1              2
9997   109997       2023-02-23   56      iOS  DeliveryOptions,ProductList,Checkout,AddressBo...              4                    23                    1             0                  0              1 2023-02-23 01:00:00    Senior Buyer         Europe        Social Media       2.1.1               1.0             1     0          3           0            1              0               0       0             0         1               0                1         0        0           1        1            1              1               1           2                 1              3              2
9998   109998       2023-07-08   33      iOS  StoreLocator,ProductList,CustomerService,Shopp...              8                    13                    1             0                  0              0                 NaT   Adult Browser   Asia Pacific      Organic Search       1.1.3               NaN             0     0          5           1            1              0               0       0             1         0               0                0         0        0           0        0            0              0               1           1                 0              0              2
9999   109999       2023-10-11   33      iOS  Promotions,WishList,Reviews,ColorPicker,Delive...              6                    46                    1             0                  1              1 2023-10-11 16:00:00     Adult Buyer         Europe         Paid Search       1.2.1              16.0             1     0          2           0            0              0               0       0             0         0               0                1         1        1           1        1            1              0               0           1                 3              2              3

[10000 rows x 40 columns]

In [13]:
print(df_processed.columns)

Index(['user_id', 'first_visit_date', 'age', 'platform', 'screen_list', 'session_count', 'total_screens_viewed', 'used_search_feature', 'wrote_review', 'added_to_wishlist', 'made_purchase', 'purchase_date', 'user_segment', 'region', 'acquisition_channel', 'app_version', 'time_to_purchase', 'purchase_24h', 'hour', 'dayofweek', 'is_weekend', 'productlist', 'productdetail', 'categorybrowse', 'search', 'shoppingcart', 'checkout', 'paymentmethods', 'deliveryoptions', 'wishlist', 'reviews', 'promotions', 'account', 'addressbook', 'ordertracking', 'shopping_count', 'cart_count', 'engagement_count', 'account_count', 'other_screens'], dtype='object')

In [14]:
df_processed[['user_id',	'first_visit_date',	'age','added_to_wishlist', 'made_purchase', 'purchase_date', 'shoppingcart', 'checkout', 'paymentmethods', 'deliveryoptions', 'wishlist', 'reviews', 'promotions', 'account']]

      user_id first_visit_date  age  added_to_wishlist  made_purchase       purchase_date  shoppingcart  checkout  paymentmethods  deliveryoptions  wishlist  reviews  promotions  account
0      100000       2023-09-19   66                  0              1 2023-09-19 01:00:00             0         0               0                0         1        0           0        1
1      100001       2023-04-29   68                  0              0                 NaT             0         1               1                1         0        0           1        0
2      100002       2023-10-20   25                  1              0                 NaT             1         1               1                1         1        1           0        0
3      100003       2023-07-04   39                  0              0                 NaT             0         1               0                0         1        0           1        1
4      100004       2023-01-02   28                  1              0                 NaT             1         1               0                0         0        1           0        1
...       ...              ...  ...                ...            ...                 ...           ...       ...             ...              ...       ...      ...         ...      ...
9995   109995       2023-12-04   51                  0              0                 NaT             0         0               0                1         0        0           0        0
9996   109996       2023-05-01   28                  1              1 2023-05-01 17:00:00             0         0               0                0         0        1           0        1
9997   109997       2023-02-23   56                  0              1 2023-02-23 01:00:00             0         1               0                1         0        0           1        1
9998   109998       2023-07-08   33                  0              0                 NaT             1         0               0                0         0        0           0        0
9999   109999       2023-10-11   33                  1              1 2023-10-11 16:00:00             0         0               0                1         1        1           1        1

[10000 rows x 14 columns]

In [15]:
# 4. Feature Engineering
# Create engagement score
df_processed['engagement_score'] = (
    df_processed['session_count'] * 0.3 +
    df_processed['used_search_feature'] * 0.2 +
    df_processed['wrote_review'] * 0.15 +
    df_processed['added_to_wishlist'] * 0.15 +
    df_processed['total_screens_viewed'] * 0.2
)

# Create screen diversity score
df_processed['screen_diversity'] = (
    df_processed[['shopping_count', 'cart_count', 
                 'engagement_count', 'account_count']].gt(0).sum(axis=1)
)

# Create purchase intent score
df_processed['purchase_intent'] = (
    df_processed['cart_count'] * 0.4 +
    df_processed['shopping_count'] * 0.3 +
    df_processed['engagement_count'] * 0.2 +
    df_processed['added_to_wishlist'] * 0.1
)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               10000 non-null  int64
 1   first_visit_date      10000 non-null  object
 2   age                   10000 non-null  int64
 3   platform              10000 non-null  object
 4   screen_list           10000 non-null  object
 5   session_count         10000 non-null  int64
 6   total_screens_viewed  10000 non-null  int64
 7   used_search_feature   10000 non-null  int64
 8   wrote_review          10000 non-null  int64
 9   added_to_wishlist     10000 non-null  int64
 10  made_purchase         10000 non-null  int64
 11  purchase_date         5289 non-null   object
 12  user_segment          10000 non-null  object
 13  region                10000 non-null  object
 14  acquisition_channel   10000 non-null  object
 15  app_version           10000 non-null  object
dtypes: int64(8), object(8)
memory usage: 1.2+ MB

In [17]:
# 5. Categorical Feature Processing
# Platform encoding (keeping existing)
df_processed['platform'] = df_processed['platform'].map({'iOS': 1, 'Android': 0})

# Process new categorical columns
# Region encoding
region_dummies = pd.get_dummies(df_processed['region'], prefix='region')
df_processed = pd.concat([df_processed, region_dummies], axis=1)

# Acquisition channel encoding
channel_dummies = pd.get_dummies(df_processed['acquisition_channel'], prefix='channel')
df_processed = pd.concat([df_processed, channel_dummies], axis=1)

# User segment processing
# Extract age group and user type separately for more granular analysis
df_processed['age_group'] = df_processed['user_segment'].apply(lambda x: x.split()[0])
df_processed['user_type'] = df_processed['user_segment'].apply(lambda x: ' '.join(x.split()[1:]))

age_group_dummies = pd.get_dummies(df_processed['age_group'], prefix='age_group')
user_type_dummies = pd.get_dummies(df_processed['user_type'], prefix='user_type')
df_processed = pd.concat([df_processed, age_group_dummies, user_type_dummies], axis=1)

# App version processing
# Extract major version for simplified analysis
df_processed['app_major_version'] = df_processed['app_version'].apply(lambda x: int(x.split('.')[0]))

# Create version recency score (higher = newer version)
df_processed['version_score'] = df_processed['app_version'].apply(
    lambda x: sum(float(i)/(10**n) for n, i in enumerate(x.split('.')))
)

# 6. Clean up and prepare final dataset
# Drop original columns that have been processed
columns_to_drop = [
    'screen_list', 'purchase_date', 'first_visit_date', 
    'time_to_purchase', 'made_purchase', 'region', 
    'acquisition_channel', 'user_segment', 'app_version',
    'age_group', 'user_type'
]
df_processed = df_processed.drop(columns=columns_to_drop)

# Ensure all column names are lowercase
df_processed.columns = df_processed.columns.str.lower()

In [18]:
# 7. Quality Checks
print("Data Quality Report")
print("-" * 50)
print(f"Shape: {df_processed.shape}")
print(f"\nNull values:\n{df_processed.isnull().sum()[df_processed.isnull().sum() > 0]}")
print(f"\nPurchase rate (24h): {df_processed['purchase_24h'].mean():.2%}")

Data Quality Report
--------------------------------------------------
Shape: (10000, 52)

Null values:
Series([], dtype: int64)

Purchase rate (24h): 43.73%

In [19]:
# 8. Feature Correlations
correlation_matrix = df_processed.corr()['purchase_24h'].sort_values(ascending=False)
print("\nTop 10 Features by Correlation with Purchase:")
print(correlation_matrix[:10])

Top 10 Features by Correlation with Purchase:
purchase_24h            1.000000
user_type_buyer         0.625666
user_type_power user    0.316745
added_to_wishlist       0.146355
session_count           0.135707
used_search_feature     0.084549
engagement_score        0.042127
dayofweek               0.020391
wrote_review            0.019688
region_middle east      0.018871
Name: purchase_24h, dtype: float64

In [20]:
# %%
# --- Configuration for writing back to MongoDB ---
DATABASE_NAME_WRITE = "detaildb"
COLLECTION_NAME_WRITE = "processed_retail_app_data"  # Use a new collection name for processed data

try:
    # --- Reuse existing MongoDB connection ---
    if client:
        # Select the database and collection for writing
        db_write = client[DATABASE_NAME_WRITE]
        collection_write = db_write[COLLECTION_NAME_WRITE]

        # --- Prepare Processed Data for MongoDB ---
        if not df_processed.empty:
            df_processed_filled = df_processed.fillna(value=float('nan')).replace({float('nan'): None})
            records_to_insert = df_processed_filled.to_dict("records")

            # --- Insert Processed Data into MongoDB ---
            if records_to_insert:
                result_insert = collection_write.insert_many(records_to_insert)
                print(f"Successfully inserted processed data into '{COLLECTION_NAME_WRITE}'.")
            else:
                print("No processed records to insert.")
        else:
            print("Processed DataFrame is empty. No data to write.")
    else:
        print("Error: MongoDB client connection was not established.")

except Exception as e:
    print(f"An unexpected error occurred during writing to MongoDB: {e}")

An unexpected error occurred during writing to MongoDB: Cannot use MongoClient after close

In [21]:
def save_to_mongodb(df):
    """
    Save processed dataframe to MongoDB.
    
    Parameters:
    -----------
    df : pandas.DataFrame
        Processed dataframe to save
    """
    print("\nSaving processed data to MongoDB...")
    
    # Load environment variables from .env file
    load_dotenv()
    
    # Get MongoDB connection details from environment variables
    username = os.getenv("MONGODB_USERNAME")
    password = os.getenv("MONGODB_PASSWORD")
    cluster = os.getenv("MONGODB_CLUSTER")
    database = os.getenv("MONGODB_DATABASE")
    
    # Create connection string
    connection_string = f"mongodb+srv://{username}:{password}@{cluster}/"
    
    try:
        # Create a client connection
        client = MongoClient(connection_string)
        
        # Connect to the database
        db = client.get_database(database)
        collection = db.processed_data  # Collection for processed data
        
        # Convert DataFrame to dictionary records
        records = df.to_dict("records")
        
        # Clear existing records and insert new ones
        collection.delete_many({})
        result = collection.insert_many(records)
        
        print(f"Successfully saved {len(result.inserted_ids)} processed records to MongoDB")
        print(f"Database: {database}, Collection: processed_data")
        
        # Display sample of the saved data
        print("\nSample of saved processed data (first 3 records):")
        for doc in collection.find().limit(3):
            print(f"User ID: {doc['user_id']}, Purchase 24h: {doc['purchase_24h']}, Engagement Score: {doc.get('engagement_score', 'N/A')}")
        
        # Close the connection
        client.close()
        
    except Exception as e:
        print(f"Error saving data to MongoDB: {e}")